<div class="details-component">
    <div class="server-content">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="normal-link" routerLink="/servers">
                        <fa-icon [icon]="faServer" class="fa-lg"></fa-icon>
                        <span *ngIf="!loading">&nbsp;</span>
                        <span *ngIf="!loading">{{ server.name | shorten:shortenSName }}</span>
                    </span>
                    <span>&nbsp;</span>
                    <span class="spinner-border spinner-border-sm header-spinner" *ngIf="loading"></span>
                </li>
            </ol>
        </nav>
        <div class="server">
            <div class="details">
                <div class="details-flex">
                    <div>
                        <fa-icon [icon]="faServer"></fa-icon>
                        <span *ngIf="!loading">&nbsp;</span>
                        <span *ngIf="!loading">{{ server.name | shorten:shortenSName }}</span>
                        <span>&nbsp;</span>
                        <fa-icon [icon]="faEdit" class="normal-link fa-lg" routerLink="edit" *ngIf="isAdmin"></fa-icon>
                    </div>
                    <div class="spacer"></div>
                    <div *ngIf="refreshing" class="spinner-border spinner-border-sm"></div>
                    <fa-icon *ngIf="!refreshing" [icon]="faSync" class="normal-link fa-lg" (click)="refresh()">
                    </fa-icon>
                    <div *ngIf="!loading && server.status == 'OFFLINE' && !server.isMaster">&nbsp;</div>
                    <div *ngIf="!loading && server.status == 'OFFLINE' && !server.isMaster">
                        <span *ngIf="startingServer" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!startingServer">
                            <fa-icon [icon]="faPowerOff" class="black-link fa-lg" (click)="startServer(server.id)">
                            </fa-icon>
                        </span>
                    </div>
                    <div *ngIf="!loading && server.status != 'OFFLINE' && !server.isMaster">&nbsp;</div>
                    <div *ngIf="!loading && server.status != 'OFFLINE' && !server.isMaster">
                        <span *ngIf="shuttingDownServer" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!shuttingDownServer">
                            <fa-icon [icon]="faPowerOff" class="black-link fa-lg" (click)="shutdownServer(server.id)">
                            </fa-icon>
                        </span>
                    </div>
                    <div *ngIf="isAdmin">&nbsp;</div>
                    <div *ngIf="!loading && isAdmin">
                        <span *ngIf="deletingServer" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!deletingServer">
                            <fa-icon [icon]="faTrashAlt" class="delete-link fa-lg" (click)="deleteServer(server.id)">
                            </fa-icon>
                        </span>
                    </div>
                </div>
            </div>
            <div class="server-details">
                <div class="list-details">
                    <div class="item-header">
                        <fa-icon [icon]="faInfo"></fa-icon>
                        <span>&nbsp;</span>
                        <span>{{ i18nService.translate('servers.details.component.status', 'Status') }}</span>
                    </div>
                    <div class="item-content">
                        <span *ngIf="!loading">
                            <fa-icon *ngIf="server.isMaster" [icon]="faCrown" class="is-master fa-lg"
                                routerLink="{{server.id}}"></fa-icon>
                            <br *ngIf="server.isMaster" />
                            {{ i18nService.translate('servers.details.component.status.' + (server.status ?
                            server.status : "none"), 'Status') }}
                            <fa-icon
                                *ngIf="server.status == 'ONLINE' || server.status == 'OFFLINE' || server.status == 'STARTING' || server.status == 'STOPPING'"
                                [ngClass]="{ 'is-online': server.status == 'ONLINE', 'is-offline': server.status == 'OFFLINE', 'is-starting': server.status == 'STARTING', 'is-stopping': server.status == 'STOPPING' }"
                                [icon]="faCircle" class="fa-lg"></fa-icon>
                            <fa-icon *ngIf="server.status == 'CAMERA_STREAM'" [icon]="faVideo" class="fa-lg is-online">
                            </fa-icon>
                            <fa-icon *ngIf="server.status == 'SURVEILLANCE'" [icon]="faCamera" class="fa-lg is-online">
                            </fa-icon>
                        </span>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    </div>
                </div>
                <div class="list-details"
                    *ngIf="!loading && server.status != 'OFFLINE' && server.status != 'STARTING' && server.status != 'STOPPING' && (server.hasServiceCamerastream || server.hasServiceSurveillance)">
                    <div class="item-header">
                        <fa-icon [icon]="faPlay"></fa-icon>
                        <span>&nbsp;</span>
                        <span>{{ i18nService.translate('servers.details.component.actions', 'Actions') }}</span>
                    </div>
                    <div class="item-content" *ngIf="server.status == 'ONLINE' && server.hasServiceCamerastream">
                        <a (click)="startCamerastream(server.id)">
                            <fa-icon [icon]="faVideo" class="normal-link fa-lg"></fa-icon>
                            <span>&nbsp;</span>
                            {{ i18nService.translate('servers.details.component.actions.start_camerastream', 'Start
                            camerastream') }}
                        </a>
                    </div>
                    <div class="item-content" *ngIf="server.status == 'ONLINE' && server.hasServiceSurveillance">
                        <a (click)="startSurveillance(server.id)">
                            <fa-icon [icon]="faCamera" class="normal-link fa-lg"></fa-icon>
                            <span>&nbsp;</span>
                            {{ i18nService.translate('servers.details.component.actions.start_surveillance', 'Start
                            surveillance') }}
                        </a>
                    </div>
                    <div class="item-content">
                        <a (click)="stopServices(server.id)">
                            <fa-icon [icon]="faStop" class="normal-link fa-lg"></fa-icon>
                            <span>&nbsp;</span>
                            {{ i18nService.translate('servers.details.component.actions.stop', 'Stop') }}
                        </a>
                    </div>
                </div>
                <div class="list-details" *ngIf="isAdmin">
                    <div class="item-header">
                        <fa-icon [icon]="faList"></fa-icon>
                        <span>&nbsp;</span>
                        <span>{{ i18nService.translate('servers.details.component.url', 'URL') }}</span>
                    </div>
                    <div class="item-content">
                        <span *ngIf="!loading">{{ server.url ? server.url : "-" }}</span>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    </div>
                </div>
                <div class="list-details" *ngIf="!loading && server.status == 'CAMERA_STREAM'">
                    <div class="item-header">
                        <fa-icon [icon]="faList"></fa-icon>
                        <span>&nbsp;</span>
                        <span>
                            {{ i18nService.translate('servers.details.component.urlCamerastream', 'URL Camerastream') }}
                        </span>
                    </div>
                    <div class="item-content">
                        <span *ngIf="!loading && !server.urlCamerastream">-</span>
                        <span *ngIf="!loading && server.urlCamerastream">
                            <a href="{{ server.urlCamerastream }}" target="_blank">{{ server.urlCamerastream }}</a> ({{
                            server.usernameCamerastream }}/{{ server.passwordCamerastream }})
                        </span>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    </div>
                </div>
                <div class="list-details" *ngIf="!loading && isAdmin && server.hasServiceCamerastream && server.status == 'CAMERA_STREAM'">
                    <div class="item-header">
                        <fa-icon [icon]="faVideo"></fa-icon>
                        <span>&nbsp;</span>
                        <span>{{ i18nService.translate('servers.details.component.attributesCamerastream', 'Attributes
                            Camerastream') }}</span>
                    </div>
                    <div class="item-content">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm user-spinner"></div>
                        <div *ngIf="!loading">
                            <div
                                *ngIf="server.attributesCamerastream == None || server.attributesCamerastream.length == 0">
                                -
                            </div>
                            <div *ngFor="let attr of server.attributesCamerastream | keyvalue; let i = index">
                                <div class="list-item" [class.stripe-non]="i % 2 != 0" [class.stripe]="i % 2 == 0"
                                    [class.server-item-last]="i == server.attributesCamerastream.length - 1">
                                    <div class="list-item-description">
                                        {{ attr.key }} {{ attr.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-details" *ngIf="!loading && isAdmin && server.hasServiceSurveillance && server.status == 'SURVEILLANCE'">
                    <div class="item-header">
                        <fa-icon [icon]="faCamera"></fa-icon>
                        <span>&nbsp;</span>
                        <span>{{ i18nService.translate('servers.details.component.attributesSurveillance', 'Attributes
                            Camerastream') }}</span>
                    </div>
                    <div class="item-content">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm user-spinner"></div>
                        <div *ngIf="!loading">
                            <div
                                *ngIf="server.attributesSurveillance == None || server.attributesSurveillance.length == 0">
                                -
                            </div>
                            <div *ngFor="let attr of server.attributesSurveillance | keyvalue; let i = index">
                                <div class="list-item" [class.stripe-non]="i % 2 != 0" [class.stripe]="i % 2 == 0"
                                    [class.server-item-last]="i == server.attributesSurveillance.length - 1">
                                    <div class="list-item-description">
                                        {{ attr.key }} {{ attr.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>