<div class="list-component">
    <div class="servers">
        <div class="table-header">
            <fa-icon [icon]="faServer" class="fa-lg"></fa-icon>
            <span>&nbsp;</span>
            <span>{{ i18nService.translate('servers.list.component.servers', 'Servers') }}</span>
            <span>&nbsp;</span>
            <fa-icon [icon]="faPlusCircle" class="normal-link fa-lg" routerLink="add" *ngIf="isAdmin"></fa-icon>
            <div class="spacer"></div>
            <div *ngIf="refreshing" class="spinner-border spinner-border-sm"></div>
            <fa-icon *ngIf="!refreshing" [icon]="faSync" class="normal-link fa-lg" (click)="refresh()">
            </fa-icon>
        </div>
        <div *ngIf="servers.length <= 0" class="servers-none">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <div *ngIf="!loading && !error">
                {{ i18nService.translate('servers.list.component.servers_none', 'No servers, yet.') }}
                <fa-icon [icon]="faPlusCircle" class="normal-link fa-lg" routerLink="add" *ngIf="isAdmin"></fa-icon>
                <a routerLink="add" class="normal-link" *ngIf="isAdmin">
                    {{ i18nService.translate('servers.list.component.action.servers_create', 'Create one, now.') }}
                </a>
            </div>
            <div *ngIf="error">
                {{ i18nService.translate('servers.list.component.error.servers_load', 'Servers could not be loaded.') }}
            </div>
        </div>
        <div *ngIf="servers.length > 0">
            <div *ngFor="let server of servers; let i = index">
                <div class="list-item" routerLink="{{server.id}}" [class.stripe-non]="i % 2 != 0" [class.stripe]="i % 2 == 0">
                    <div class="list-item-description">
                        {{ server.name | shorten:shortenSName }}
                    </div>
                    <div class="spacer"></div>
                    <div class="list-item-actions">
                        <fa-icon *ngIf="server.isMaster" [icon]="faCrown" class="is-master fa-lg" routerLink="{{server.id}}"></fa-icon>
                        <span *ngIf="server.isMaster">&nbsp;</span>
                        <fa-icon
                            *ngIf="server.status == 'ONLINE' || server.status == 'OFFLINE' || server.status == 'STARTING' || server.status == 'STOPPING'"
                            [ngClass]="{ 'is-online': server.status == 'ONLINE', 'is-offline': server.status == 'OFFLINE', 'is-starting': server.status == 'STARTING', 'is-stopping': server.status == 'STOPPING' }"
                            [icon]="faCircle" class="fa-lg" routerLink="{{server.id}}"></fa-icon>
                        <fa-icon *ngIf="server.status == 'CAMERA_STREAM'" [icon]="faVideo"
                            class="fa-lg is-online" routerLink="{{server.id}}"></fa-icon>
                        <fa-icon *ngIf="server.status == 'SURVEILLANCE'" [icon]="faCamera"
                            class="fa-lg is-online" routerLink="{{server.id}}"></fa-icon>
                        <span>&nbsp;</span>
                        <fa-icon [icon]="faInfoCircle" class="normal-link fa-lg" routerLink="{{server.id}}"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>