$mainColor: #848c94;
$secondaryColor: #b5b5b6;
$tertiaryColor: #1b1b1b;
$borderColor: #e3e3e3;
$backgroundColor: #ffffff;
$toolbarNavbarTextColor: #ffffff;
$tableHeaderColor: #cccccc;
$listItemBorderColor: #cccccc;
$listItemBackgroundColor: #ffffff;
$tableStripeNonColor: #ffffff;
$tableStripeColor: #f1f1f1;
$tableStripeNonHiddenColor: #8ed1976c;
$tableStripeHiddenColor: #8ed19734;
$hostColor: #333333;
$blackLinkColor: #000000;
$blackLinkHoverColor: #525252;
$deleteLinkColor: #ff7474;
$deleteLinkHoverColor: #b41313;
$dropdownActiveColor: #f8f9fa;
$errorTextColor: #ff4d4d;
$errorLinkColor: #ff4d4d;
$errorLinkHoverColor: #fc7575;
$serverIsMaster: #d4bc30;
$serverIsOnline: #8ed197;
$serverIsOffline: #fc7575;
$serverIsStarting: #67b4fc;
$serverIsStopping: #fd7d42;
